
<%= simple_form_for([@user, @spending]) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.select :category_id, Category.all.map { |c| [c.name, c.id] }, include_blank: true %>
    <%= f.input :name %>
    <%= f.input :price %>
    <%= f.input :amount %>
  </div>
  <br>
  <div class="form-actions">
    <%= f.button :submit, class: "is-success is-pulled-right" %>
  </div>
<% end %>
