<br>
<h1 class="title">Spendings</h1>

<table class="table is-hoverable is-fullwidth is-striped">
  <thead>
    <tr>
      <th>User</th>
      <th>Category</th>
      <th>Name</th>
      <th>Price</th>
      <th>Amount</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @spendings.each do |spending| %>
      <tr>
        <td><%= @user.email %></td>
        <td><%= Category.find(spending.category_id).name %></td>
        <td><%= spending.name %></td>
        <td><%= "#{spending.price} €" %></td>
        <td><%= spending.amount %></td>
        <td><%= link_to 'Show', user_spending_path(spending.user, spending), class: "button is-info is-small" %></td>
        <td><%= link_to 'Edit', edit_user_spending_path(spending.user, spending), class: "button is-dark is-small" %></td>
        <td><%= link_to 'Destroy', user_spending_path(spending.user, spending), method: :delete, data: { confirm: 'Are you sure?' }, class: "button is-danger is-small" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Spending', new_user_spending_path, class: "button is-success" %>
