<p>
  <strong>User:</strong>
  <%= @spending.user_id %>
</p>

<p>
  <strong>Category:</strong>
  <%= @spending.category_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @spending.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @spending.price %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @spending.amount %>
</p>

<%= link_to 'Edit', edit_user_spending_path(@spending) %> |
<%= link_to 'Back', user_spendings_path %>
